@charset "utf-8";

a.ui-link-inherit {
	white-space: normal !important;
}

p.ui-li-desc {
	white-space: normal !important;
}

#mainMenu .ui-btn-inner {
	padding: 5px !important;
}

#commentList .ui-li {
	padding: 15px !important;
}