<script type="text/javascript">
    //<![CDATA[
    $(function(){
        $("#body").live('pageshow', function(){
            if($("#favoriteList > li").size() == 0){
                $.initList( "favoriteList", "topicItem", true, "/topic/json", { "favorites": "true" }, function(jsonData){
                    var values = jsonData.values;
                    var size = values.length;
                    $.setListValues("favoriteList", "topicItem", true, jsonData);
                    if(size > 0){
                        $("#favoriteList").listview("refresh");
                    }
                });         
            }
            if($.favorites.reload == true){
            	$.favorites.reload = false;
            	location.reload();
            }
        });
    });
    //]]>
</script>
<ul id="favoriteList" data-role="listview">
<liquidtpl:favoriteList/>
</ul>&nbsp;
<script id="topicItem" type="text/x-jquery-tmpl">
<liquidtpl:topicItemTemplate/>
</script>