<script type="text/javascript">
    //<![CDATA[
    $(function(){
        $.loadedTopic = [];
        $.nextTopicList = function(cursor){
        	$('.nextTopicButtonContainer').hide();
            $.initList( "topicList", "topicItem", true, "/topic/json", {"curnext" : cursor}, function(jsonData){
                var values = jsonData.values;
                var size = values.length;
                var newCursor = null;
                if(size > 0){
                    $("#topicItem").tmpl(values).appendTo(".topicList");
                    $(".topicList").each(function(){
                        try{
                            $(this).listview('refresh');
                        } catch (e) {
                        }
                    });
                    
                    if(jsonData.info && jsonData.info['curnext']){
                        newCursor = jsonData.info['curnext'];
                    }
                    if(newCursor) {
                        var newOnClick = '$.nextTopicList("' + newCursor + '")';
                        $('.nextTopicButton').attr('onclick', newOnClick).attr('ontouchend', newOnClick);
                        $('.nextTopicButtonContainer').show();
                    } else {
                        $('.nextTopicButtonContainer').remove();
                    }
                }
            }, function(){}, function(){});
        }
    });
    //]]>
</script>
<ul id="topicList" class="topicList" data-role="listview">
<liquidtpl:topicList/>
</ul>&nbsp;
<script id="topicItem" type="text/x-jquery-tmpl">
<liquidtpl:topicItemTemplate/>
</script>
<liquidtpl:nextTopicButton/>
