    <script type="text/javascript">
    //<![CDATA[
    $(function(){
        $.toggleCommentForm = function(){
            if($("#commentFormContainer").css("display") == "none") {
                $("#commentFormContainer").show();
                $("#menuAdd").addClass("ui-btn-active");
            } else {
                $("#commentFormContainer").hide();
                $("#menuAdd").removeClass("ui-btn-active");
            }
            return false;
        };
        
        $("#body").live('pageshow', function(){
            $("#menuAdd").attr('href', '#').unbind('click touchend').bind('click touchend', $.toggleCommentForm);
            $("#menuAddIcon").attr("src", "/img/icon/comment.png");
            
            $.urlParams = $.getUrlParams();
            $.topicId = $.urlParams['topicId'];
            $.commentForm = {};
            $.initForm("commentForm", "/topic/commentjson", {"topicId": $.topicId});
            $.connected = false;
            
            $("#topicDetail").empty();
            $.initDetail( "topicDetail", "topicItem", "/topic/json", {"id": $.topicId}, function(jsonData){
                var values = jsonData.values;
                var size = values.length;
                values['content'] = $.simpleHTML(values['content']);
                $("#subTitle").text(values['title']);
                if($.favorites.isFavorite($.topicId)){
                    $('<a id="favorite_switch" class="ml10" href="#"><img id="favorite_switch_icon" src="/img/icon/favorites_on.png" \/><\/a>').bind('click touchend', function(){
                        $.favorites.remove($.topicId);
                    }).appendTo("#subTitle");
                } else {
                    $('<a id="favorite_switch" class="ml10" href="#"><img id="favorite_switch_icon" src="/img/icon/favorites_off.png" \/><\/a>').bind('click touchend', function(){
                        $.favorites.add($.topicId);
                    }).appendTo("#subTitle");
                }
                $("#subTitleContainer").show();
            });  
            
            if($("#commentList > li").size() == 0){
                $.initList( "commentList", "commentItem", false, "/topic/commentjson", {"topicId": $.topicId}, function(jsonData){
                    var values = jsonData.values;
                    var size = values.length;
                    for(var i = 0; i < size; i++){
                        values[i]['content'] = $.simpleHTML(values[i]['content']);
                    }
                    $.setListValues("commentList", "commentItem", false, jsonData);
                    if(size > 0){
                    	$("#commentList").listview();
                    } else {
                        $.toggleCommentForm();
                    }
                    $.ajax({
                        type : "POST",
                        url : "/topic/commentchannel",
                        cache : false,
                        dataType : "text",
                        data : {"topicId": $.topicId},
                        success : function(result) {
                            var jsonData = $.evalJsonCommentFiltered(result);
                            if( jsonData['channelToken'] ){
                                channel = new goog.appengine.Channel(jsonData['channelToken']);
                                socket = channel.open();
                                socket.onopen = function(){$.connected = true;};
                                socket.onmessage = function(message){
                                    var messageData = $.evalJsonCommentFiltered(message.data);
                                    console.dir(messageData);
                                    messageData['content'] = $.simpleHTML(messageData['content']);
                                    var newLine = $("#commentItem").tmpl(messageData).hide();
                                    newLine.prependTo("#commentList");
                                    $("#commentList").listview("refresh");
                                    newLine.slideDown();
                                };
                                socket.onerror = function(error){
                                    //console.dir(error)
                                };
                                socket.onclose = function(){$.connected = false;};
                                
                            }
                        }, 
                        error : function(){
                        }
                    });
                    
                });       
            }
        });
    });
    //]]>       
    </script>
        <div id="subTitleContainer" class="mb10" style="display:none;"><strong id="subTitle"></strong></div>
        <div id="commentFormContainer" style="display:none;">
            <hr/>
            <form data-ajax="false" action="/topic/comment" id="commentForm"
                style="display: none;">
                <input type="hidden" id="topicIdField" name="topicId" />
                <div class="ma5">
                    <div id="nameError" class="warningMessageOne" style="display: none;" />
                    <label for="nameField" class="bold"><liquidtpl:text key="topic.name" /></label> 
                    <input id="nameField" name="name" />
                </div>
                <div class="ma5">
                    <div id="contentError" class="warningMessageOne" style="display: none;" />
                    <label for="contentField" class="bold"><liquidtpl:text key="topic.comment" /></label>
                    <textarea placeholder="コメントを入力してください" cols="40" rows="8" id="contentField" name="content"></textarea>
                </div>
                <input type="submit" value="送信" />&nbsp;
            </form>
        </div>&nbsp;
        <ul id="commentList" style="display: none;">
        </ul>
        <script id="commentItem" type="text/x-jquery-tmpl">
          <li>
          <strong>${number}.&nbsp;&nbsp;${name}&nbsp;さん</strong><span class="alignright small">${createdAt}</span>
          <div class="">
            {{html content}}
          </div>
          </li>
       </script>