    <liquidtpl:topicJson/>
    <script type="text/javascript">
    //<![CDATA[
    $(function(){
        $.loaded = [];
        $.toggleCommentForm = function(topicId){
            if($("#commentFormContainer_" + topicId).css("display") == "none") {
                $("#commentFormContainer_" + topicId).show();
                $.focusCommentForm(topicId);
            } else {
                $("#commentFormContainer_" + topicId).hide();
            }
            return false;
        };
        
        $.focusCommentForm = function(topicId){
            var elm = $("#commentFormContainer_" + topicId + " #contentField").get(0);
            if (elm.createTextRange) {
                var range = elm.createTextRange();
                range.move('character', elm.value.length);
                range.select();
             } else if (elm.setSelectionRange) {
                elm.setSelectionRange(elm.value.length, elm.value.length);
             }
            $('#body .wrapper').each( function(){
                if(this.iscroll){
                    this.iscroll.scrollTo($("#commentFormContainer_" + topic.id).get(0), 0);
                } else {
                    $(this).scrollTo("#commentFormContainer_" + topicId, 200, {offset: {top:-10}});
                }
            });
        };
        
        $.replyForm = function(commentNumber, topicId){
            var text = $("#commentFormContainer_" + topicId + " #contentField").val();
            var headText = ">>" + commentNumber + " "; 
            if(text.indexOf(headText) != 0){
                $("#commentFormContainer_" + topicId + " #contentField").val(headText + text);
            }
            if($("#commentFormContainer_" + topicId).css("display") == "none") {
                $.toggleCommentForm(topicId);
            } else  {
                $.focusCommentForm(topicId);
            }
            
        }
        
        $.nextCommentList = function(topicId, cursor){
            $('.nextCommentButtonContainer_' + topicId).hide();
            $.initList( "commentList", "commentItem", true, "/topic/commentjson", {"topicId": topicId, "curnext" : cursor}, function(jsonData){
                var values = jsonData.values;
                var size = values.length;
                var newCursor = null;
                if(size > 0){
                    for(var i = 0 ; i < size; i++){
                        var itemData = values[i];
                        itemData['contentHtml'] = $.unescapeHTML(itemData['contentHtml']);
                    }
                    $("#commentItem").tmpl(values).appendTo("#commentList_" + topicId);
                    $("#commentList_" + topicId).each(function(){
                        try{
                            $(this).listview('refresh');
                        } catch (e) {
                        }
                    });
                    
                    if(jsonData.info && jsonData.info['curnext']){
                        newCursor = jsonData.info['curnext'];
                    }
                    if(newCursor) {
                        var newOnClick = '$.nextCommentList("' + topicId + '", "' + newCursor + '")';
                        $('.nextCommentButton_' + topicId).attr('onclick', newOnClick).attr('ontouchend', newOnClick);
                        $('.nextCommentButtonContainer_' + topicId).show();
                    } else {
                        $('.nextCommentButtonContainer_' + topicId).remove();
                    }
                }
            }, function(){}, function(){});
        }
        
        $("#body").live('pageshow', function(){
          if(!$.loaded[topic.id]){
            //add
            $('.menuAdd_' + topic.id).live('click touchend', function(){
                $.toggleCommentForm(topic.id);return false;
              return false;
            });
              
            //title
            $("#topicTitle_" + topic.id).text(topic.title);
            if((topic.contentHtml) && (topic.contentHtml.length > 0)){
              $("#topicContent_" + topic.id).html($.unescapeHTML(topic.contentHtml)).show();
            }
            
            if($.favorites.isFavorite(topic.id)){
                $('<a id="favorite_switch_' + topic.id + '" class="ml10" href="#"><img id="favorite_switch_icon_' + topic.id + '" src="/img/icon/favorites_on.png" \/><\/a>').bind('click touchend', function(){
                    $.favorites.remove(topic.id);
                }).appendTo("#topicTitle_" + topic.id);
            } else {
                $('<a id="favorite_switch_' + topic.id + '" class="ml10" href="#"><img id="favorite_switch_icon_' + topic.id + '" src="/img/icon/favorites_off.png" \/><\/a>').bind('click touchend', function(){
                    $.favorites.add(topic.id);
                }).appendTo("#topicTitle_" + topic.id);
            }
            
            var commentFormId = "commentForm_" + topic.id;
            $("#commentFormContainer_" + topic.id).html($("#commentFormContainer").html());
            $("#commentFormContainer_" + topic.id + " > form").attr("id", commentFormId);
            $.initForm(commentFormId, "/topic/commentjson", {"topicId": topic.id}, function(jsonData){
                $("#" + commentFormId + ' #contentField').keydown(function (e) {
                      if (e.metaKey && e.keyCode == 13) {
                          $("#" + commentFormId).submit();
                      }
                });
                $.setFormValues(commentFormId, jsonData, $.mobile.showPageLoadingMsg, null, $.mobile.hidePageLoadingMsg);
            });
            
            //channelapi
            $.connected = false;
            if($.socket == null){
                $.socket = [];
            }
            if(!$.socket[topic.id]){
                $.ajax({
                    type : "POST",
                    url : "/topic/commentchannel",
                    cache : false,
                    dataType : "text",
                    data : {"topicId": topic.id},
                    success : function(result) {
                        var jsonData = $.evalJsonCommentFiltered(result);
                        if( jsonData['channelToken'] ){
                            channel = new goog.appengine.Channel(jsonData['channelToken']);
                            $.socket[topic.id] = channel.open();
                            $.socket[topic.id].onopen = function(){$.connected = true;};
                            $.socket[topic.id].onmessage = function(message){
                                var messageData = $.evalJsonCommentFiltered(message.data);
                                var msgTopicId = messageData['topicId'];
                                if(msgTopicId == topic.id){
                                    $.showNotification("/favicon.png", messageData['name'], messageData['content']);
                                    messageData['contentHtml'] = $.unescapeHTML(messageData['contentHtml']);
                                    var newLine = $("#commentItem").tmpl(messageData).hide();
                                    newLine.prependTo("#commentList_" + msgTopicId);
                                    $("#commentList_" + msgTopicId).listview("refresh");
                                    newLine.slideDown();
                                }
                                
                            };
                            $.socket[topic.id].onerror = function(error){
                                //console.dir(error)
                            };
                            $.socket[topic.id].onclose = function(){$.connected = false;};
                        }
                    }, 
                    error : function(){
                    }
                });
            }
            $.loaded[topic.id] = true;
          }
        });
    });
    //]]>       
    </script>
    <div class="mb10">
      <liquidtpl:topicTitle/>
      <liquidtpl:topicContent/>
    </div>
    <liquidtpl:commentFormContainer/>&nbsp;
    <liquidtpl:commentList/>
    <script id="commentItem" type="text/x-jquery-tmpl">
    <liquidtpl:commentItemTemplate/>
    </script>
    <div id="commentFormContainer" style="display:none;">
        <hr/>
        <form data-ajax="false" action="/topic/comment" id="commentForm" style="display: none;">
            <input type="hidden" id="topicIdField" name="topicId" />
            <div class="ma5">
                <div id="nameError" class="warningMessageOne" style="display: none;" />
                <label for="nameField" class="bold"><liquidtpl:text key="topic.name" /></label> 
                <input id="nameField" name="name" />
            </div>
            <div class="ma5">
                <div id="contentError" class="warningMessageOne" style="display: none;" />
                <label for="contentField" class="bold"><liquidtpl:text key="topic.comment" /></label>
                <textarea placeholder="コメントを入力してください" cols="40" rows="8" id="contentField" name="content"></textarea>
            </div>
            <input type="submit" value="送信" ontouchend="$(this.form).submit();return false;"/>&nbsp;
        </form>
    </div>&nbsp;
    <liquidtpl:nextCommentButton/>