    <script type="text/javascript">
        //<![CDATA[

        $(function(){
            $.topicForm = {};
            $.initForm("topicForm", "/topic/json", null);
            $("#subTitle").text("スレッド登録");
        });
        //]]>
    </script>
    <form data-ajax="false" action="/topic/form" id="topicForm" style="display: none;">
        <div class="ma5">
            <div id="nameError" class="warningMessageOne" style="display:none;" />
            <label for="nameField" class="bold"><liquidtpl:text key="topic.name"/></label>
            <input id="nameField" name="name"/>
        </div>
        <div class="ma5">
            <div id="titleError" class="warningMessageOne" style="display:none;" />
            <label for="titleField" class="bold"><liquidtpl:text key="topic.title"/></label>
            <input id="titleField" name="title"/>
        </div>
        <input name="content" type="hidden" value="" />
        <input type="submit" value="登録"  data-theme="a"/>
    </form>
